<!--Index-->
<template name="rice_purchaseItems">
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>
        {{> tabular table=Rice.TabularTable.PurchaseItem selector=selector class="table table-striped table-bpurchaseed table-condensed table-dblclick"}}
</template>

<!--Action-->
<template name="rice_purchaseItemAction">
    {{#tabularAction}}
        <li><a class="update">{{fa "pencil"}} Update</a></li>
        <li><a class="remove">{{fa "remove"}} Remove</a></li>
        <li><a class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="rice_purchaseItemInsert">
    {{#autoForm collection=Rice.Collection.PurchaseItem id="rice_purchaseItemInsert" type="insert"}}
        <div class="row">
            <div class="col-md-12">
                {{> afQuickField name='name'}}
                {{> afQuickField name='shortName'}}
                {{> afQuickField name='cost'}}
                {{> afQuickField name='price'}}
                {{> afQuickField name='purchaseCategoryId' type="hidden"}}
                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Update-->
<template name="rice_purchaseItemUpdate">
    {{#autoForm collection=Rice.Collection.PurchaseItem id="rice_purchaseItemUpdate" doc=this type="update"}}
        <div class="row">
            <div class="col-md-12">
                {{> afQuickField name='name'}}
                {{> afQuickField name='shortName'}}
                {{> afQuickField name='cost'}}
                {{> afQuickField name='price'}}
                {{> afQuickField name='purchaseCategoryId' type="hidden"}}
                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Show-->
<template name="rice_purchaseItemShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Short Name</dt>
        <dd>{{shortName}}</dd>
        <dt>Cost</dt>
        <dd>{{cost}}</dd>
        <dt>Price</dt>
        <dd>{{price}}</dd>
        <dt>PurchaseCategoryId</dt>
        <dd>{{purchaseCategoryId}}</dd>
    </dl>
</template>
