button.saleBtn{
	width: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
button.saleBtn:hover{
	width: 120px;
}

span.badge.badge-warning {
	background: rgb(255, 54, 0);
	color: #fff;
}
