<template name="rice_navbar">
    <li class="{{isActiveRoute name='rice.home'}}"><a href="{{pathFor 'rice.home'}}">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Data <span class="badge badge-warning">
            {{totalCount}}
            </span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
           <li class="dropdown-header"><i class="fa fa-money"></i>&nbsp; Sale</li>
            <li class="{{isActiveRoute name='rice.customer'}}">
                <a href="{{pathFor 'rice.customer'}}">Customer</a>
            </li>
            <li class="{{isActiveRoute name='rice.saleList'}}">
                <a href="{{pathFor 'rice.saleList'}}">Sale List <span class="badge badge-warning">{{getPublishedCount 'saleCount'}}</span></a>
            </li>
           <li class="divider"></li>
           <li class="dropdown-header"><i class="fa fa-cart-arrow-down"></i>&nbsp; Purchase</li>
            <li class="{{isActiveRoute name='rice.supplier'}}">
                <a href="{{pathFor 'rice.supplier'}}">Supplier</a>
            </li>
            <li class="{{isActiveRoute name='rice.purchaseList'}}">
                <a href="{{pathFor 'rice.purchaseList'}}">Purchase List <span class="badge badge-warning">{{getPublishedCount 'purchaseCount'}}</span></a>
            </li>
            <!--<li class="{{isActiveRoute name='rice.sale'}}">-->
            <!--<a href="{{pathFor 'rice.sale'}}">Sale</a>-->
            <!--</li>-->
            <li class="{{isActiveRoute name='rice.mapClosing'}}">
                <a href="{{pathFor 'rice.mapClosing'}}">Map Closing</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Reports <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header"><i class="fa fa-money"></i>&nbsp; Sale</li>
            <li class="{{isActiveRoute name='rice.saleReport'}}">
                <a href="{{pathFor 'rice.saleReport'}}">Sale Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.saleDetailReport'}}">
                <a href="{{pathFor 'rice.saleDetailReport'}}">Sale Detail Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.saleByItemReport'}}">
                <a href="{{pathFor 'rice.saleByItemReport'}}">Sale By Item Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.paymentReport'}}">
                <a href="{{pathFor 'rice.paymentReport'}}">Sale Payment Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.outstandingReport'}}">
                <a href="{{pathFor 'rice.outstandingReport'}}">Sale Outstanding Report</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header"><i class="fa fa-cart-arrow-down"></i>&nbsp; Purchase</li>
            <li class="{{isActiveRoute name='rice.purchaseReport'}}">
                <a href="{{pathFor 'rice.purchaseReport'}}">Purchase Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.purchaseDetailReport'}}">
                <a href="{{pathFor 'rice.purchaseDetailReport'}}">Purchase Detail Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.purchaseByItemReport'}}">
                <a href="{{pathFor 'rice.purchaseByItemReport'}}">Purchase By Item Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.purchasePaymentReport'}}">
                <a href="{{pathFor 'rice.purchasePaymentReport'}}">Purchase Payment Report</a>
            </li>
            <li class="{{isActiveRoute name='rice.purchaseOutstandingReport'}}">
                <a href="{{pathFor 'rice.purchaseOutstandingReport'}}">Purchase Outstanding Report</a>
            </li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Settings <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="{{isActiveRoute name='cpanel.exchange'}}">
                <a href="{{pathFor 'cpanel.exchange'}}">Exchange</a>
            </li>
            <li class="{{isActiveRoute name='rice.unit'}}">
                <a href="{{pathFor 'rice.unit'}}">Unit</a>
            </li>
            <li class="{{isActiveRoute name='rice.purchaseCategories'}}">
                <a href="{{pathFor 'rice.purchaseCategories'}}">Purchase Category</a>
            </li>
            <li class="{{isActiveRoute name='rice.saleCategories'}}">
                <a href="{{pathFor 'rice.saleCategories'}}">Sale Category</a>
            </li>
            <li class="{{isActiveRoute name='rice.staff'}}">
                <a href="{{pathFor 'rice.staff'}}">Staff</a>
            </li>
            <li class="{{isActiveRoute name='rice.userStaff'}}">
                <a href="{{pathFor 'rice.userStaff'}}">User Staff</a>
            </li>
        </ul>
    </li>
    <li class="{{isActiveRoute name='rice.help'}}">
      <a href="{{pathFor 'rice.help'}}">View Help</a>
    </li>
</template>
