<!--Index-->
<template name="rice_supplier">
  <div class="animated fadeIn">
  <span>
    <p class="pull-right" style="color: #999;font-family: 'khmer os fasthand';">
      សូមចុចពីរដងទៅលើឈ្មោះអតិថិជនដើម្បីធ្វើការ Order រឺក៏ Click ទៅលើប៊ូតុងក្រោម Purchase&nbsp;<i class='fa fa-arrow-up'></i>នៃឈ្មោះអតិថិជន ដើម្បីទៅកាន់ Order List
    </p>
    <p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>
  </span>
    <!--{{#if isSubReady "rice_supplier"}}-->
        {{> tabular table=Rice.TabularTable.Supplier selector=selector class="table table-striped table-bpurchaseed table-condensed table-hover-dblclick"}}
    <!--{{else}}-->
        <!--{{> loading}}-->
    <!--{{/if}}-->
</div>
</template>

<!--Action-->
<template name="rice_supplierAction">
    {{#tabularAction}}
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>

        <!--<li role="separator" class="divider"></li>-->
        <!--<li><a href="#" class="purchase">{{fa "shopping-cart"}} Purchase</a></li>-->
    {{/tabularAction}}
</template>
<template name="rice_purchaseList">
      <button id="purchase" class="btn btn-default">
        {{#if _purchaseCount}}
         {{_purchaseCount}}
        {{else}}
         0
        {{/if}}
        <!-- <i class="fa fa-arrow-circle-right"></i>Order List -->
      </button>
</template>
<!--Insert-->
<template name="rice_supplierInsert">
    {{#autoForm collection=Rice.Collection.Supplier id="rice_supplierInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name='name'}}
                {{> afQuickField name='gender'}}
                {{> afQuickField name='status'}}
                {{> afQuickField name='telephone'}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name='address'}}
                {{> afQuickField name='email'}}
                {{> afQuickField name='photo'}}

                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Update-->
<template name="rice_supplierUpdate">
    {{#autoForm collection=Rice.Collection.Supplier id="rice_supplierUpdate" doc=this type="update"}}
        <div class="row">
          <div class="row">
              <div class="col-md-6">
                  {{> afQuickField name='name'}}
                  {{> afQuickField name='gender'}}
                  {{> afQuickField name='status'}}
                  {{> afQuickField name='telephone'}}
              </div>
              <div class="col-md-6">
                  {{> afQuickField name='address'}}
                  {{> afQuickField name='email'}}
                  {{> afQuickField name='photo'}}

                  <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                  <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
              </div>
          </div>
        </div>
    {{/autoForm}}
</template>

<!--Show-->
<template name="rice_supplierShow">
    <ul class="list-unstyled">
        <li><strong>ID:</strong> {{_id}}</li>
        <li><strong>Name:</strong> {{name}}</li>
        <li><strong>Gender:</strong> {{gender}}</li>
        <li><strong>Address:</strong> {{address}}</li>
        <li><strong>Telephone:</strong> {{telephone}}</li>
        <li><strong>Email:</strong> {{email}}</li>
        <li><strong>Photo:</strong> {{lightbox url=photoUrl title=name}}</li>
    </ul>
</template>
