<template name="rice_sellingList">
  <p class="pull-right" style="color: #999; font-family: 'khmer os fasthand';">
    <i class="fa fa-arrow-right"></i>ចុចពីរដងទៅលើ Record ណាមួយដើម្បីធ្វើការទូរទាត់លុយ
  </p>
  <br>
  {{> tabular table=Rice.TabularTable.SaleList selector=selector class="table table-striped table-bsaleed table-condensed table-hover-dblclick"}}
</template>

<template name="rice_sellingListAction">
    {{#tabularAction}}
        <li><a class="customerSale">{{fa "user"}} Customer Sale List</a></li>
        <li><a class="remove">{{fa "remove"}} Remove</a></li>
        <li><a class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>
