<!--SaleItem Temporary-->
<template name="rice_saleSaleItem">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <input type="text" name="tmpName" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" name="tmpQty" class="form-control" placeholder="Qty">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" name="tmpPrice" class="form-control" placeholder="Price">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" name="tmpDiscount" class="form-control" placeholder="Discount %">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <input type="text" name="tmpAmount" value="{{tmpAmount}}" class="form-control" placeholder="Amount"
                       readonly>
            </div>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-primary addSaleItem" {{cssClassForAddMore}}>+</button>
        </div>
        <div class="form-group">
            <input type="hidden" name="tmpCost" class="form-control" placeholder="cost">
        </div>
        <div class="form-group">
            <input type="hidden" name="tmpLineCost" value="{{tmpLineCost}}" class="form-control" placeholder="Cost"
                   readonly>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <label>Item</label>
        </div> 
        <div class="col-sm-2">
            <label>Price</label>
        </div>
        <div class="col-sm-2">
            <label>Qty</label>
        </div>
        <div class="col-sm-2">
            <label>Discount(%)</label>
        </div>
        <div class="col-sm-3">
            <label>Amount</label>
        </div>          
    </div>
    {{#each saleItems}}
        <div class="row sale-list">
            <div class="col-sm-3">
                <input type="text" value={{tmpName}} class="form-control" 
                       readonly label="Item">
            {{> afQuickField name=indexName value=name class="name" readonly="true" label=false type='hidden'}}
            </div>
            <div class="col-sm-2">
                {{> afQuickField name=indexPrice type="text" value=price class="price" label=false}}
            </div>
                {{> afQuickField name=indexCost type="text" value=cost class="cost" label=false type='hidden'}}
            <div class="col-sm-2">
                {{> afQuickField name=indexQty type="text" value=qty class="qty" label=false}}
            </div>
            <div class="col-sm-2">
                {{> afQuickField name=indexDiscount type="text" value=discount class="discount" label=false}}
            </div>
            
            <div class="col-sm-2">
                {{> afQuickField name=indexAmount type="text" value=amount class="amount" readonly="true" label=false}}
            </div>
            {{> afQuickField name=indexLineCost type="text" value=lineCost class="line-cost" label=false type='hidden'}}
            <div class="col-sm-1">
                <button type="button" class="btn btn-danger removeSaleItem">-</button>
            </div>
        </div>
    {{/each}}

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            {{> afQuickField name="subDiscount"}}
        </div>
        <div class="col-sm-3">
            {{> afQuickField name="total" type="text" value=total}}
        </div>
            <div class="col-sm-3">{{> afQuickField name='profit' value=profit readonly="true"}}</div>
    </div>
</template>
